# Flutter/Dart
.dart_tool/
.packages
.pub/
build/

# Flutter generated
.flutter-plugins
.flutter-plugins-dependencies

# Android
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/

# iOS
ios/Pods/

# macOS
macos/Pods/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

#backend
node_modules/

kubeconfig-internal.yaml
*.kubeconfig
.kube/